.wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100%;
}
.wrapper-images {
  background-image: url(../images/bg-image.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #B1B2B4;
}
.movie .movie__info {
  margin-left: -15px;
  margin-right: -15px;
}
.movie .movie__images {
  position: relative;
  border: 3px solid #ffd564;
}
.movie .movie__images img {
  max-width: 100%;
}
.movie .movie__images iframe {
  max-width: 100%;
}
.movie .movie__title {
  display: inline-block;
  margin-bottom: -6px;
  max-width: 330px;
}
.movie .movie__rate {
  position: relative;
  padding: 20px 17px 19px;
  border: 3px solid #ffd564;
  border-top: none;
  font: 16px 'aleoregular', sans-serif;
  color: #4c4145;
}
.movie .movie__rate .score {
  display: inline-block;
  padding-left: 15px;
}
.movie .movie__rate .movie__rate-number {
  font: 11px 'Roboto', sans-serif;
  display: block;
}
.movie .movie__rating {
  width: 80px;
  height: 80px;
  padding-top: 28px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background-color: #fa7878;
  border: solid 3px #fff;
  font: 20px 'Coiny', sans-serif;
  color: #4c4145;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 6px;
  left: 6px;
}
.movie .movie__time {
  position: relative;
  font-size: 13px;
  color: #fe505a;
  margin-bottom: 20px;
  padding-left: 20px;
}
.movie .movie__time:before {
  content: "\f017";
  font: 16px "FontAwesome";
  color: #fe505a;
  position: absolute;
  top: 6px;
  left: 0;
}
.movie .movie__option {
  font-size: 13px;
  margin-bottom: 3px;
}
.movie .comment-link {
  position: relative;
  display: inline-block;
  font: 16px 'aleoregular', sans-serif;
  color: #fe505a;
  margin-top: 30px;
  margin-bottom: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.movie .comment-link:after {
  content: '';
  background-image: url('../images/components/wave-danger.svg');
  -webkit-background-size: 40px 4px;
  background-size: 40px 4px;
  background-repeat: repeat-x;
  width: 100%;
  height: 4px;
  position: absolute;
  right: 0;
  bottom: -2px;
}
.movie .comment-link:hover {
  color: #4c4145;
}
.movie .comment-link:hover:after {
  background-image: url('../images/components/wave-main.svg');
}
.movie .movie__btns {
  position: absolute;
  right: 0;
  top: 0;
}
.movie .movie__btns .btn {
  display: block;
}
.movie .movie__btns .watchlist {
  float: right;
  margin-top: 20px;
}
.movie .movie__describe {
  font-size: 13px;
}
.movie .movie__media {
  padding: 20px 5px;
  position: relative;
  width: 100%;
  height: 162px;
  background-image: url(../images/components/bg-movie.png);
  background-repeat: repeat-x;
}
.movie .movie__media .swiper-container {
  max-height: 120px;
}
.movie .movie__media .movie__media-switch {
  position: absolute;
  top: -48px;
  right: 0;
}
.movie .movie__media .list--photo {
  margin-right: -3px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  padding-left: 41px;
  padding-right: 21px;
}
.movie .movie__media .list--photo:before {
  content: "\f030";
  font-size: 13px;
  top: 5px;
  left: 21px;
}
.movie .movie__media .list--video {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  padding-left: 41px;
  padding-right: 21px;
}
.movie .movie__media .list--video:before {
  content: "\f03d";
  font-size: 13px;
  top: 5px;
  left: 21px;
}
.movie .movie__media .movie__media-item {
  padding: 0 5px;
  display: block;
}
.movie--preview {
  margin-top: 40px;
  margin-left: -15px;
  overflow: hidden;
}
.movie--preview .movie__images {
  border: none;
}
.movie--preview .movie__feature .movie__feature-item {
  position: relative;
  width: 32.5%;
  margin-top: 2px;
  margin-right: -1px;
  padding-right: 16px;
  background-color: #4c4145;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
.movie--preview .movie__feature .movie__feature--comment:before {
  content: "\f075";
  font: 14px "FontAwesome";
  color: #7c7578;
  position: absolute;
  top: 23px;
  right: 9px;
}
.movie--preview .movie__feature .movie__feature--video:before {
  content: "\f03d";
  font: 14px "FontAwesome";
  color: #7c7578;
  position: absolute;
  top: 24px;
  right: 14px;
}
.movie--preview .movie__feature .movie__feature--photo:before {
  content: "\f030";
  font: 14px "FontAwesome";
  color: #7c7578;
  position: absolute;
  top: 24px;
  right: 9px;
}
.movie--preview .movie__rate {
  border: none;
  border-top: 1px solid #dbdee1;
  border-bottom: 1px solid #dbdee1;
  padding-top: 13px;
  padding-bottom: 12px;
}
.movie--preview .movie__rate .score {
  padding-left: 0;
  margin-bottom: 1px;
}
.movie--preview .movie__rating {
  left: 149px;
}
.movie--preview .movie__show-btn {
  padding-bottom: 5px;
  padding-right: 20px;
  position: absolute;
  top: 18px;
  right: 0;
  color: #fe505a;
}
.movie--preview .movie__show-btn:hover {
  color: #4c4145;
}
.movie--preview .movie__show-btn:before {
  color: #fe505a;
  content: "\f078";
  font-family: "FontAwesome";
  font-size: 10px;
  position: absolute;
  right: 1px;
  top: 3px;
  transition: all 0.3s ease 0s;
  z-index: 0;
}
.movie--preview .movie__show-btn:hover:before {
  color: #4c4145;
}
.movie--preview .movie__show-btn:after {
  background-image: url("../images/components/wave-danger.svg");
  background-repeat: repeat-x;
  background-size: 40px 4px;
  bottom: 2px;
  content: "";
  height: 4px;
  position: absolute;
  right: 0;
  width: 100%;
}
.movie--preview .movie__show-btn:hover:after {
  background-image: url("../images/components/wave-main.svg");
}
.movie--preview .movie__option {
  line-height: 25px;
}
.movie--preview .time-select {
  display: none;
  margin-top: 42px;
}
.preview-footer {
  margin-top: 26px;
  position: relative;
}
.movie--full .movie__feature .movie__feature-item {
  padding-right: 22px;
  padding-top: 21px;
  width: 32%;
}
.movie--time {
  overflow: hidden;
  padding-right: 40px;
  margin-bottom: 23px;
  min-height: 205px;
}
.movie--time .movie__images {
  border: none;
}
.movie--time .movie__title {
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
}
.movie--time .movie__time {
  margin-top: 4px;
  margin-bottom: 8px;
}
.movie--time .movie__time:before {
  top: 3px;
}
.movie--time .time-select .time-select__item {
  margin-right: 8px;
  margin-bottom: 1px;
}
.movie-time-wrap {
  overflow: hidden;
}
.movie-time-wrap .datepicker {
  margin-bottom: 33px;
  padding-left: 15px;
}
.movie--test {
  width: 50%;
  float: left;
  margin-bottom: 8px;
}
.movie--test .movie__images {
  width: 50%;
  border: none;
  position: relative;
}
.movie--test .movie__images:before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  position: absolute;
  top: 0;
  z-index: 20;
}
.movie--test .movie__images:after {
  content: "";
  width: 1px;
  height: 30px;
  position: absolute;
  top: 0;
}
.movie--test .movie-beta__link {
  display: block;
  position: relative;
}
.movie--test .movie-beta__link:after {
  content: '';
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 19;
}
.movie--test .movie-beta__link:hover:after {
  background-color: rgba(255, 255, 255, 0.4);
}
.movie--test .movie__info {
  overflow: hidden;
  padding: 17px 17px;
  position: relative;
  min-height: 200px;
  margin: 0;
}
.movie--test .movie__title {
  font-size: 16px;
  font-weight: bold;
}
.movie--test .movie__time {
  margin-bottom: 0;
}
.movie--test .movie__rate {
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.movie--test .movie__rate .movie__rating {
  display: block;
  position: absolute;
  top: -60px;
  right: 60px;
  left: auto;
}
.movie--test .movie__rate .score {
  position: absolute;
  top: 2px;
  left: 0;
}
.movie--test .movie__rate .score img {
  width: 15px;
}
.movie--test--light {
  background-color: #f5f5f5;
}
.movie--test--light .movie__images:before {
  border-color: transparent #f5f5f5 transparent transparent;
}
.movie--test--light .movie__images:after {
  background-color: #f5f5f5;
}
.movie--test--dark {
  background-color: #dbdee1;
}
.movie--test--dark .movie__images:before {
  border-color: transparent #dbdee1 transparent transparent;
}
.movie--test--dark .movie__images:after {
  background-color: #dbdee1;
}
.movie--test--left .movie__images {
  float: left;
}
.movie--test--left .movie__images:before {
  border-width: 0 20px 20px 0;
  right: 0;
}
.movie--test--left .movie__images:after {
  right: 14px;
  -webkit-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  transform: skewX(45deg);
}
.movie--test--right .movie__images {
  float: right;
}
.movie--test--right .movie__images:before {
  border-width: 20px 20px  0 0;
  left: 0;
}
.movie--test--right .movie__images:after {
  left: 14px;
  -webkit-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  transform: skewX(-45deg);
}
.movie--test--right.movie--test--light .movie__images:before {
  border-color: #f5f5f5 transparent transparent transparent;
}
.movie--test--right.movie--test--dark .movie__images:before {
  border-color: #dbdee1 transparent transparent transparent;
}
  .movie__media-item {
    margin-top: 7px;
  }
  .movie-mobile {
    float: none;
    margin-right: 0;
  }
  .movie .movie__btns {
    position: relative;
  }
  .movie .movie__btns .watchlist {
    float: none;
  }
  .movie .movie__btns .btn {
    display: inline-block;
    margin-right: 10px;
  }