.movieDabba{
padding:10px;
background: #E5E4E2;
margin:10px;
border-radius:5%;
}

.movieInfo{
	text-align:center;
}

.movieRate{
margin:20px;
}

.movieRating{
background:lightblue; 
border-radius:100%;
padding:10px;
border: 1px solid blue;
font-size: 20px;
}